<ion-header>
  <ion-toolbar>
    <ion-title>
      Categorías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, dolores explicabo praesentium officia id nobis dignissimos laudantium quos, odio ab voluptates ipsa placeat molestiae impedit quis harum. Officia, quis tenetur.</h1>

<ion-grid>
  <ion-row>
    <ion-col size="6" push-md="6">
      <!-- Contenido de la columna 1 -->ww
    </ion-col>
    <ion-col size="6" pull-md="6">
      <!-- Contenido de la columna 2 -->gg
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>